/* Dashboard.css */
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-navbar {
  margin-bottom: 30px;
}

.dashboard-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.logout-btn {
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-container {
  margin: 20px;
}

.user-details-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-size: 2rem;
  font-weight: bold;
}

.user-info p {
  font-size: 1rem;
  margin: 5px 0;
}

.case-overview-title {
  font-size: 1.8rem;
  color: #333;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.loading-text {
  margin-top: 10px;
  font-size: 1.2rem;
}

.error-alert {
  margin-top: 20px;
  font-size: 1.1rem;
}

.case-tabs {
  margin-top: 30px;
}

.no-cases-message {
  font-size: 1.2rem;
  color: #777;
  padding: 20px;
}

.case-card {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.case-card-header {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.case-card-body {
  padding: 20px;
  font-size: 1rem;
}

.case-card-body p {
  margin-bottom: 10px;
}

.case-card-header:hover {
  background-color: #e2e2e2;
}

.case-tabs .nav-item {
  font-size: 1.1rem;
}

.case-tabs .nav-link {
  padding: 10px 20px;
  color: black;
}

.handover-button {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.handover-button:hover {
  background-color: #333;
}


.case-tabs .nav-link.active {
  font-weight: bold;
  color: #fff;
  background-color: #000000;
}

@media (max-width: 768px) {
  .dashboard-container {
    margin: 10px;
  }

  .user-details-card {
    padding: 15px;
  }

  .user-name {
    font-size: 1.5rem;
  }

  .case-overview-title {
    font-size: 1.5rem;
  }

  .loading-container {
    flex-direction: column;
    margin-top: 50px;
  }
}

.view-case-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-case-button:hover {
  background-color: #000000;
}